In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv('/content/train.csv')

In [30]:
pd.set_option('display.max_columns', None)
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Age_encoded
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,False,True,22.000000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,True,False,38.000000
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True,False,26.000000
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,True,False,35.000000
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,False,True,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S,False,True,27.000000
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S,True,False,19.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S,True,False,29.699118
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C,False,True,26.000000
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q,False,True,32.000000

In [24]:
# One hot encoding the sex feature
df = pd.get_dummies(df, columns = ['Sex'])

In [28]:
df['Age_encoded'] = df['Age']
df.loc[df['Age'].isna(), 'Age_encoded'] = df['Age'].mean()

In [36]:
df['Ticket'].value_counts()

Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64

In [37]:
# Frequency encoding the 'tickets'
df['Ticket_encoded'] = df['Ticket'].map(df['Ticket'].value_counts())

In [48]:
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Age_encoded,Ticket_encoded,Cabin_encoded
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,False,True,22.000000,1,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,True,False,38.000000,1,1.0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True,False,26.000000,1,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,True,False,35.000000,2,2.0
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,False,True,35.000000,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S,False,True,27.000000,1,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S,True,False,19.000000,1,1.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S,True,False,29.699118,2,0.0
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C,False,True,26.000000,1,1.0
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q,False,True,32.000000,1,0.0

In [43]:
df['Cabin'].value_counts()

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [44]:
df['Cabin_encoded'] = df['Cabin'].map(df['Cabin'].value_counts())

In [46]:
df.loc[df['Cabin_encoded'].isna(), 'Cabin_encoded'] = 0

In [53]:
df.loc[df['Embarked'].isna(), 'Embarked'] = 'Q' # only 2 entries

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Name            891 non-null    object
 4   Age             714 non-null    float64
 5   SibSp           891 non-null    int64
 6   Parch           891 non-null    int64
 7   Ticket          891 non-null    object
 8   Fare            891 non-null    float64
 9   Cabin           204 non-null    object
 10  Embarked        891 non-null    object
 11  Sex_female      891 non-null    bool
 12  Sex_male        891 non-null    bool
 13  Age_encoded     891 non-null    float64
 14  Ticket_encoded  891 non-null    int64
 15  Cabin_encoded   891 non-null    float64
dtypes: bool(2), float64(4), int64(6), object(4)
memory usage: 99.3+ KB

In [56]:
# One hot encoding the 'Embarked' feature
df = pd.get_dummies(df, columns = ['Embarked'])

In [57]:
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Age_encoded,Ticket_encoded,Cabin_encoded,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,False,True,22.000000,1,0.0,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,True,False,38.000000,1,1.0,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,True,False,26.000000,1,0.0,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,True,False,35.000000,2,2.0,False,False,True
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,False,True,35.000000,1,0.0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,False,True,27.000000,1,0.0,False,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,True,False,19.000000,1,1.0,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,True,False,29.699118,2,0.0,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,False,True,26.000000,1,1.0,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,False,True,32.000000,1,0.0,False,True,False

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Name            891 non-null    object
 4   Age             714 non-null    float64
 5   SibSp           891 non-null    int64
 6   Parch           891 non-null    int64
 7   Ticket          891 non-null    object
 8   Fare            891 non-null    float64
 9   Cabin           204 non-null    object
 10  Sex_female      891 non-null    bool
 11  Sex_male        891 non-null    bool
 12  Age_encoded     891 non-null    float64
 13  Ticket_encoded  891 non-null    int64
 14  Cabin_encoded   891 non-null    float64
 15  Embarked_C      891 non-null    bool
 16  Embarked_Q      891 non-null    bool
 17  Embarked_S      891 non-null    bool
dtypes: bool(5), float64(4), int64(6), object(3)
memory usage: 95.0+ KB

In [59]:
X = df[[
    'Pclass',
    'Age_encoded',
    'SibSp',
    'Parch',
    'Fare',
    'Sex_female',
    'Sex_male',
    'Ticket_encoded',
    'Cabin_encoded',
    'Embarked_C',
    'Embarked_Q',
    'Embarked_S'
]]

In [60]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pclass          891 non-null    int64
 1   Age_encoded     891 non-null    float64
 2   SibSp           891 non-null    int64
 3   Parch           891 non-null    int64
 4   Fare            891 non-null    float64
 5   Sex_female      891 non-null    bool
 6   Sex_male        891 non-null    bool
 7   Ticket_encoded  891 non-null    int64
 8   Cabin_encoded   891 non-null    float64
 9   Embarked_C      891 non-null    bool
 10  Embarked_Q      891 non-null    bool
 11  Embarked_S      891 non-null    bool
dtypes: bool(5), float64(3), int64(4)
memory usage: 53.2 KB

In [61]:
y = df['Survived']

In [70]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier # diferite modele si metode de machine learning
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import mean_absolute_error

from sklearn.model_selection import train_test_split # pentru splituirea datelor in date de antrenare si date de testare

from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.model_selection import cross_val_score # cross validation

from sklearn.model_selection import GridSearchCV # hyperparameter tuning

from sklearn.ensemble import VotingClassifier # se voteaza care model este mai bun

from imblearn.over_sampling import SMOTE # for unbalanced data, over-sampling the minority and under-sampling the majority class
from imblearn.under_sampling import RandomUnderSampler

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

# for the unbalanced dataset
smote = SMOTE()
X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)

In [73]:
model = KNeighborsClassifier()
model.fit(X_train, y_train)
y_preds = model.predict(X_test)
mae = mean_absolute_error(y_preds, y_test)
# print('MAE: ', mae)
print(model.score(X_test, y_test))

0.753731343283582

In [85]:
model = RandomForestClassifier()
model.fit(X_train_smote, y_train_smote) # smote este pentru unbalanced data
print(model.score(X_test, y_test))

0.8656716417910447

In [79]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8507462686567164

In [80]:
model = GradientBoostingClassifier()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8507462686567164

In [81]:
model = SVC()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.6940298507462687

In [86]:
model = MLPClassifier()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8805970149253731

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [90]:
param_grid = {
    'n_estimators': [100, 150 ,200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}
grid_search = GridSearchCV(RandomForestClassifier(), param_grid, cv=5, scoring='roc_auc')
grid_search.fit(X_train, y_train)

grid_search.score(X_test, y_test)

0.9280223619846262

In [91]:
grid_search.best_params_

{'max_depth': 20, 'min_samples_split': 10, 'n_estimators': 150}

In [92]:
# Best_model = grid_search, preprocessing the testdata
df_test = pd.read_csv('/content/test.csv')

In [93]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [94]:
# One hot encoding the sex feature
df_test = pd.get_dummies(df_test, columns = ['Sex'])

In [95]:
df_test

,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,892,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,Q,False,True
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,S,True,False
2,894,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,Q,False,True
3,895,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,S,False,True
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,S,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",NaN,0,0,A.5. 3236,8.0500,NaN,S,False,True
414,1306,1,"Oliva y Ocana, Dona. Fermina",39.0,0,0,PC 17758,108.9000,C105,C,True,False
415,1307,3,"Saether, Mr. Simon Sivertsen",38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,False,True
416,1308,3,"Ware, Mr. Frederick",NaN,0,0,359309,8.0500,NaN,S,False,True
417,1309,3,"Peter, Master. Michael J",NaN,1,1,2668,22.3583,NaN,C,False,True

In [96]:
df_test['Age_encoded'] = df_test['Age']
df_test.loc[df_test['Age'].isna(), 'Age_encoded'] = df_test['Age'].mean()

In [97]:
# Frequency encoding the 'tickets'
df_test['Ticket_encoded'] = df_test['Ticket'].map(df_test['Ticket'].value_counts())

In [98]:
df_test['Cabin_encoded'] = df_test['Cabin'].map(df_test['Cabin'].value_counts())

In [99]:
df_test.loc[df_test['Cabin_encoded'].isna(), 'Cabin_encoded'] = 0

In [100]:
df_test.loc[df_test['Embarked'].isna(), 'Embarked'] = 'Q' # only 2 entries

In [101]:
# One hot encoding the 'Embarked' feature
df_test = pd.get_dummies(df_test, columns = ['Embarked'])

In [102]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     418 non-null    int64
 1   Pclass          418 non-null    int64
 2   Name            418 non-null    object
 3   Age             332 non-null    float64
 4   SibSp           418 non-null    int64
 5   Parch           418 non-null    int64
 6   Ticket          418 non-null    object
 7   Fare            417 non-null    float64
 8   Cabin           91 non-null     object
 9   Sex_female      418 non-null    bool
 10  Sex_male        418 non-null    bool
 11  Age_encoded     418 non-null    float64
 12  Ticket_encoded  418 non-null    int64
 13  Cabin_encoded   418 non-null    float64
 14  Embarked_C      418 non-null    bool
 15  Embarked_Q      418 non-null    bool
 16  Embarked_S      418 non-null    bool
dtypes: bool(5), float64(4), int64(5), object(3)
memory usage: 41.4+ KB

In [103]:
X_testing = df_test[[
    'Pclass',
    'Age_encoded',
    'SibSp',
    'Parch',
    'Fare',
    'Sex_female',
    'Sex_male',
    'Ticket_encoded',
    'Cabin_encoded',
    'Embarked_C',
    'Embarked_Q',
    'Embarked_S'
]]

In [105]:
X_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pclass          418 non-null    int64
 1   Age_encoded     418 non-null    float64
 2   SibSp           418 non-null    int64
 3   Parch           418 non-null    int64
 4   Fare            417 non-null    float64
 5   Sex_female      418 non-null    bool
 6   Sex_male        418 non-null    bool
 7   Ticket_encoded  418 non-null    int64
 8   Cabin_encoded   418 non-null    float64
 9   Embarked_C      418 non-null    bool
 10  Embarked_Q      418 non-null    bool
 11  Embarked_S      418 non-null    bool
dtypes: bool(5), float64(3), int64(4)
memory usage: 25.0 KB

In [106]:
X_testing.loc[X_testing['Fare'].isna(), 'Fare'] = X_testing['Fare'].mean()

In [110]:
X_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pclass          418 non-null    int64
 1   Age_encoded     418 non-null    float64
 2   SibSp           418 non-null    int64
 3   Parch           418 non-null    int64
 4   Fare            418 non-null    float64
 5   Sex_female      418 non-null    bool
 6   Sex_male        418 non-null    bool
 7   Ticket_encoded  418 non-null    int64
 8   Cabin_encoded   418 non-null    float64
 9   Embarked_C      418 non-null    bool
 10  Embarked_Q      418 non-null    bool
 11  Embarked_S      418 non-null    bool
dtypes: bool(5), float64(3), int64(4)
memory usage: 25.0 KB

In [111]:
best_predictions = grid_search.predict(X_testing)

In [112]:
best_predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [115]:
output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': best_predictions})
output.to_csv('submission.csv', index=False)

In [116]:
from google.colab import files
files.download('submission.csv')